* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility;
  background-color: #eff2f5fd;
}

h1 {
  margin: 0;
  padding: 20px;
}

.header {
  background-color: rgba(0,0,0,0.92);
  height: 50px;
  text-align: center;
}

ul.nav {
  color: white;
  list-style: none;
}

li.header-item {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

#boxed {
  margin-left: 400px;
  padding-top: 400px;
  height:250px;
  width:600px;
  text-align: left;
  vertical-align: middle;
  float: left;
}

#main_pic {
  vertical-align: middle;
  display: inline-block;
  margin: auto;
  position: relative;
  padding-top: 200px;
}