* {
  margin: 0;
  padding: 0;
}

html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Newsreader', serif; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility;
  background-color: #eff2f5fd;
}

h1 {
  margin: 0;
  padding: 20px;
}

.header {
  background-color: rgba(0,0,0,0.92);
  height: 50px;
}

ul.nav {
  text-align: center;
  color: white;
  list-style: none;
}

li.header-item {
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline;
}

a {
  color: inherit;
  text-decoration: none;
}